*{margin: 0; padding: 0;}

p.con_m_banner {
    text-align: justify;
    font-size: 17px;
}

.title_banner {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

img.img_m_banner {
    float: left;
    margin-right: 30px;
    width: 50%;
}

body{
    /* background: rgb(241, 229, 229); */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.tab-bar{
    background-color: rgb(255, 240, 240) !important;
    padding-left: 130px!important;
    padding-right: 130px!important;
    border-bottom: 1px solid thistle;
}

input.form-control.mr-sm-2 {
    width: 50%;
}

a.navbar-brand{
    font-weight: bold;
    font-size: 22px;

}

.content-right{
    border-left: 0.5px solid rgb(199, 218, 247);
}

.img-slide-right{
    height: 200px;
}

.most-read{
    font-weight: bold;
    font-size: 20px;
    margin: 40px 0 0 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid red;
    margin-bottom: 30px;
}

.content-body-right {
    margin-bottom: 65px;
}

.img_r_b{
    width: 130px;
    padding-right: 5%;
    float: left;
}

.title_c_r{
    font-weight: bold;
    font-size: 13px;
}

.main-content-right{
    margin-top: 10px;
    margin-bottom: 75px;
}

img.img_m_bn {
    width: 100%;
}

p.con_m_bn {
    font-size: 15px;
    font-style: unset;
    text-align: justify;
}

.title_m_bn {
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0 10px 0;
}

.title-event{
    margin-bottom: 30px;
}

.title-event hr{
    background: red;
    margin-top: -16px;
}

.text_event {
    background: red;
    width: 87px;
    height: 35px;
    font-weight: bold;
    color: white;
    line-height: 35px;
    text-align: center;
}

.title_m_evn {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

p.con_m_evn {
    font-size: 15px;
    text-align: justify;
}

img.img_m_evn {
    float: left;
    width: 46%;
    margin-right: 22px;
}

footer.jumbotron.jumbotron-fluid.ft_con_m {
    background: #9c1818;
    margin-top: 30px;
    color: white;
}

.t_d_ft {
    margin-bottom: 25px;
}

p.ft_con_info {
    text-align: justify;
}

img.img_new {
    width: 25%;
    float: left;
    margin-right: 3%;
}

.below_m_bn {
    border-bottom: 1px solid red;
    padding-bottom: 3%;
}

.col-lg-6.one_new_left {
    margin-top: 3%;
}

.col-lg-6.one_new-right{
    margin-top: 3%;
}

.p_category {
    margin-top: 3%;
}

._1_new{
    margin-bottom: 3%;
    height: 170px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

a.img_1New{
    width: 30%;
}

div.c_new_c{
    width: 70%;
}

a.content_1_new{
    color: black;
    text-decoration: none;
}

img.img_new_c {
    width: 90%;
}

.title_new_c {
    font-size: 20px;
    font-weight: bold;
}

.time_new {
    font-size: 80%;
}

i.fa.fa-clock-o.time {
    margin-right: 1%;
}

p.con_new_c {
    text-align: justify;
}

.nav_bar.jumbotron-fluid {
    background: aqua;
    height: 35px;
    line-height: 35px;
}

.container .home {
    font-weight: bold;
    font-size: medium;
}

.container i.fa.fa-angle-right {
    margin: 0 5px;
}